/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/06/2018, 04:02:24 PM
    Author     : bryan
*/

.jfx-list-view{
    -fx-background-insets: 0;
    -fx-cell-vertical-margin: 10.0;
    -jfx-vertical-gap: 10;
    
}

.jfx-list-view .scroll-bar .increment-arrow,
.jfx-list-view .scroll-bar .decrement-arrow,
.jfx-list-view .scroll-bar .increment-button,
.jfx-list-view .scroll-bar .decrement-button {
    -fx-padding:0;
}

.jfx-button{
    -fx-background-color: #e8e8e8;
}

.jfx-list-cell{
    -fx-background-insets: 0.0;
    -fx-pref-height: 80;
}

.jfx-list-cell:hover{
    -fx-background-color: #0066ff;
}

.combo-box-popup .list-view .list-cell {
    -fx-padding: 10 0 10 10;
    -fx-pref-height: 35;
}

.combo-box-popup .list-view .scroll-bar .increment-arrow,
.combo-box-popup .list-view .scroll-bar .decrement-arrow,
.combo-box-popup .list-view .scroll-bar .increment-button,
.combo-box-popup .list-view .scroll-bar .decrement-button {
    -fx-padding:0;
}
